.matrix-animation-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .matrix-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300vh;
  }
  
  .matrix-text {
    color: #00ff00; /* Green color */
    font-size: 16px; /* Font size */
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    white-space: pre-wrap; /* Preserve line breaks */
    animation: scroll 5s linear infinite; /* Animation for scrolling */
  }
  
  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  